.share {
    margin-top: 1rem;
    display: flex;
    gap: 15px;
    svg {
      border-radius: 50%;
      transition: transform 0.3s ease;
      box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  