.wrapper {
    margin-top: 1.8rem;
    .header {
      height: 50px;
      background: $yellow-color;
      color: transparent;
      font-size: 25px;
      padding: 1rem 10px;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .product {
      &__img {
        height: 350px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
          border-radius: 20px;
        }
      }
      &__infos {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2px;
        h1 {
          font-size: 13px;
          font-weight: normal;
          color: #222;
        }
        span {
          color: $redish-color;
        }
      }
    }
  }
  